<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720973232616-4j88dol5qh4m6206c2nb9936e191osg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720973232616-4j88dol5qh4m6206c2nb9936e191osg0</string>
	<key>API_KEY</key>
	<string>AIzaSyAP13_HxkYj-1mfsIBsGidY38sEk4z2WBY</string>
	<key>GCM_SENDER_ID</key>
	<string>720973232616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Luke.Hub1-0</string>
	<key>PROJECT_ID</key>
	<string>hub1-0</string>
	<key>STORAGE_BUCKET</key>
	<string>hub1-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:720973232616:ios:71043d44f9b0bea7148c5d</string>
</dict>
</plist>
